extends ./_layouts/weather

block append styles
  meta(property="og:image", content=listInfo.image)

block weather_content
  .page-title
    .pull-right
      .social-likes(data-url=site.head.canonical)
        each item in config.shareDataServices
          div(class=item)
    h1= title
    h2.sub-title= subTitle
    br

  - var date = util.moment(new Date()), datenow = util.moment(new Date())
  - date = date.locale(currentCulture.language)
  div
    ul.w-list-menu.list-inline(data-list-id=listInfo.id)
        li.selected.first(data-date=date.format('YYYY-MM-DD'))= __('today')
        li(data-date=date.add(1, 'd').format('YYYY-MM-DD'))= date.format("dddd, D MMMM")
        li(data-date=date.add(1, 'd').format('YYYY-MM-DD'))= date.format("dddd, D MMMM")
        //- li(data-date=date.add(1, 'd').format('YYYY-MM-DD'))= date.format("dddd, D MMMM")
    .w-list-content.content-box
        if (placesForecast)
        include ./controls/main_places_weather
