extends ./_layouts/weather

block weather_content
  .page-title
    h1= title
    h2.sub-title= site.head.description
  include _includes/report.jade


block right_content_top
  if (latestStories && latestStories.length>0)
    .group.view-stories
      .group-title
        h4= __('latest_news')
      .group-content
        .list.ot-news
          each story, i in latestStories
            if (i < 4)
              .list-item
                .item.ot-news.clearfix
                  a.media(href=story.url)
                    .media-left
                      img.media-object(alt='', src=(story.imageSrc))
                    .media-body= story.title
                      //- .details= util.moment(new Date(story.date)).format('LT')
