extends ./_layouts/weather

block append left_content
  .group
    // Ournet weather left
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='5696383432', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

block weather_content
  .page-title
    h1= title
    .row
      .col-xs-7
        h2.sub-title= site.head.description
      .col-xs-5.text-right
        .social-likes(data-url=site.head.canonical)
          each item in config.shareDataServices
            div(class=item)
  include _includes/report.jade

  .social-likes(data-url=site.head.canonical)
    each item in config.shareDataServices
      div(class=item)
  br


block prepend right_content_top
  if (latestStories && latestStories.length>0)
    .group.view-stories
      .group-title
        h4= __('latest_news')
      .group-content
        .list.ot-news
          each story, i in latestStories
            if (i < 4)
              .list-item
                .item.ot-news.clearfix
                  a.media(href=story.url)
                    .media-left
                      img.media-object(alt='', src=(story.imageSrc))
                    .media-body= story.title
                      //- .details= util.moment(new Date(story.date)).format('LT')
