extends ./_layouts/weather

block weather_content
  .page-title
    h1= title
  .content-box
    .list.ot-place
      each item in (places.Items || places)
        - var placeName=util.Place.getName(item, currentCulture.language)
        .list-item
          .item
            a(href=links.weather.place(item.id, {ul: currentCulture.language}), title=placeName)= placeName
            if (item.admin1)
              div= util.Place.getName(item.admin1, currentCulture.language)
