extends ./_layouts/weather

block content
  #place-weather-title
    if (shareInfo)
      .our-sharedata.pull-right(data-appname='ournet', data-identifier=shareInfo.identifier, data-title=shareInfo.title, data-cid=shareInfo.clientId)
        each service in config.shareDataServices
          a.our-share-item(class=service, data-service=service, href='@ShareServiceUtility.GetServiceShareUrl(@service, Model.ShareInfo)', rel='nofollow', target='_blank', title='@Ournet.Web.Portal.Resources.Project.share_on_format.FormatWith(service.StartWithUpperCase())')
          span.share-icon
            i
          span.share-count.hidden

    h1= title
  #place-weather-summary.group
    h2.sinfo= site.head.description
  if (report)
    .weather
      table.weather-table
        thead
          tr
            th
            th
            th= __('weather.item_conditions')
            th.no= __('weather.item_temperatire')
            th.no= __('weather.item_pressure')
            th= __('weather.item_wind_dir')
            th= __('weather.item_wind_speed')
        tbody
          each item, i in report.times
            tr
              td.hour= new Date(item.from).toString()
              td.symbol
                span.w-icon(class='wi'+item.symbol, title=item.symbol)
              td.symbol-name= item.symbol_name
              td.no.temperature= item.t.value
              td.no.pressure= item.pressure.value
              td.wind-dir
                img(alt=item.wind.dir.code, title=item.wind.dir.code, src='http://assets.ournetcdn.net/root/img/icons/weather/32-wind-arrow.png', class='@item.WindDirectionCss()')
              td.wind-speed= item.wind.speed.mps + __('weather.item_wind_speed_ms')

      #weather-source-footer
        a#yr-logo(href='http://www.yr.no/', rel='nofollow', target='_blank')= __('weather_cright')
      p.sinfo= subTitle
