extends ./_layouts/weather

//- block append left_content
//-   .group
//-     // Ournet weather left
//-     ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='5696383432', data-ad-format='auto')
//-     script.
//-       (adsbygoogle = window.adsbygoogle || []).push({});

block weather_content
  .page-title
    .pull-right
      .social-likes(data-url=site.head.canonical)
        each item in config.shareDataServices
          div(class=item)
    h1= title
    h2.sub-title= site.head.description
  include _includes/report.jade
  #content-bottom

  if (reportDays!==10)
    p.text-center
      strong
        a(href=links.weather.placeDays(place.id,10,{ul:currentCulture.language}))= __('weather_for_10days')
          |   »
  else
    .social-likes(data-url=site.head.canonical)
      each item in config.shareDataServices
        div(class=item)
  br
  if (config.projects.horoscope)
    .group
      .group-title
        h4= __('horoscope')
      .group-content
        include ./_includes/zodiac-list


block prepend right_content_top
  if (latestStories && latestStories.length>0)
    .group.view-stories
      .group-title
        h4= __('latest_news')
      .group-content
        .list.ot-news
          each story, i in latestStories
            if (i < 4)
              .list-item
                .item.ot-news.clearfix
                  a.media(href='//'+links.news.host+ links.news.story(story.uniqueName, story.id))
                    .media-left
                      img.media-object(alt='', src=(Links.cdn.wi.stories('square', story.imageId)))
                    .media-body= story.title
                      //- .details= util.moment(new Date(story.date)).format('LT')
