extends ./_layouts/weather

block append styles
  meta(property="og:image", content="https://c2.staticflickr.com/8/7724/26987380802_dc156534d3_z.jpg")

//- block append left_content
//-   .group
//-     // Ournet weather left
//-     ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='5696383432', data-ad-format='auto')
//-     script.
//-       (adsbygoogle = window.adsbygoogle || []).push({});

block weather_content
  .page-title
    .pull-right
      .social-likes(data-url=site.head.canonical)
        each item in config.shareDataServices
          div(class=item)
    h1= title
    h2.sub-title= site.head.description
  include _includes/report.jade
  #content-bottom

  if (reportDays!==10)
    p.text-center
      strong
        a(href=links.weather.placeDays(place.id,10,{ul:currentCulture.language}))= __('weather_for_10days')
          |   »
  else
    .social-likes(data-url=site.head.canonical)
      each item in config.shareDataServices
        div(class=item)
  br
  if (config.projects.horoscope)
    .group
      .group-title
        h4= __('horoscope')
      .group-content
        include ./_includes/zodiac-list


block prepend right_content_top
  if (latestStories && latestStories.length>0)
    .group.view-stories
      .group-title
        h4= __('latest_news')
      .group-content
        .list.ot-news
          each story, i in latestStories
            if (i < 4)
              .list-item
                .item.ot-news.clearfix
                  a.media(href='http://'+links.news.host+ links.news.story(story.uniqueName, story.id, {ul:currentCulture.language}))
                    .media-left
                      img.media-object(alt='', src=(Links.cdn.wi.stories('square', story.imageId)))
                    .media-body= story.title
                      //- .details= util.moment(new Date(story.date)).format('LT')
block append scripts
  script(async src='https://cdnjs.cloudflare.com/ajax/libs/ouibounce/0.0.12/ouibounce.min.js')
  script.
    setTimeout(function(){
      var ouib = ouibounce(document.getElementById('ouib'), {
        aggressive: false,
        sitewide: true,
        timer: 0,
        callback: function() { ga("send","event","campaign","weather-modal","show-modal") }
      });
      ouib.fire();
    }, 1000 * 10);
    function closeOuib() {
      $('#ouib').hide();
      ga("send","event","campaign","weather-modal","close-modal")
    }
  #ouib(style='display: none;')
    .underlay(onclick="closeOuib()")
    .ouib-m
      .ouib-m-title
        h3= __('share_with_your_friends')
      .ouib-m-body
        div.text-center
          .social-likes(data-url=site.head.canonical)
            each item in config.shareDataServices
              div(class=item)
        div
          br
          p.text-center= util.format(__('forecast_on_email_place'),util.Place.getName(place, currentCulture.language))
          include ./_includes/cocoshelform
      .ouib-m-footer(onclick="closeOuib()")= __('no_thanks')
