extends ./_layouts/weather

block weather_content
  .page-title
    h1= title
    h2.sub-title= site.head.description
  include _includes/report.jade


block right_content_top
  if (latestStories && latestStories.length>0)
    .group.view-stories
      .group-title
        h4= __('latest_news')
      .group-content
        .list.ot-news
          each story, i in latestStories
            if (i < 4)
              .list-item
                .item.ot-news.clearfix
                  a.media(href=story.url)
                    .media-left
                      img.media-object(alt='', src=(story.imageSrc))
                    .media-body= story.title
                      //- .details= util.moment(new Date(story.date)).format('LT')

block left_content
  .group
    // Ournet weather left
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='5696383432', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

block append scripts
  if (~['ro', 'ru'].indexOf(currentCulture.language))
    script.
      /** This section is only needed once per page if manually copying **/
      if (typeof MauticSDKLoaded == 'undefined') {
          var MauticSDKLoaded = true;
          var head            = document.getElementsByTagName('head')[0];
          var script          = document.createElement('script');
          script.type         = 'text/javascript';
          script.src          = 'https://ournet.mautic.net/mautic/media/js/mautic-form.js';
          script.onload       = function() {
              MauticSDK.onLoad();
          };
          head.appendChild(script);
          var MauticDomain = 'https://ournet.mautic.net';
          var MauticLang   = {
              'submittingMessage': "Please wait..."
          }
      }
    img(src='http:///ournet.mautic.net/mtracking.gif',width=1,height=1,alt='')
