.cocoshelform(data-url='/newsletter/subscribe')
    .cocoshel-header
        .cocoshel-title= util.format(__('forecast_on_email_place'),util.Place.getName(place, currentCulture.language))
    .row
        .col-xs-8.cocoshel-inputs
            input.cocoshel-email(type=email, name='email', placeholder='Email')
            input(type='hidden', name='placeId', value=place.id)
        .col-xs-4.text-center
            button.cocoshel-button= __('subscribe')
    .cocoshel-footer= util.format(__('total_subscribers_format'), totalSubscribers)
    