
mixin simpleDailyReport(data, place)
    - var timezone = place.forecast.timezone || place.timezone || config.timezone;
    - var dayDate = util.moment.tz(day.times[day.times.length-1].time, timezone).locale(currentCulture.language);
    - var dayTime = day.times[parseInt((day.times.length-1)/2)];
    - var maxTime = day.times.reduce(function(max, c){return c.t.value>max.t.value?c:max;});
    - var minTime = day.times.reduce(function(min, c){return c.t.value<min.t.value?c:min;});
    - var isWeekend = [6, 7].indexOf(dayDate.isoWeekday()) > -1;
    - var dayWindCode = dayTime.wind.dir.code.length>2?dayTime.wind.dir.code.substr(1):dayTime.wind.dir.code;
    - var todayHolidays = holidays[dayDate.format('YYYY-MM-DD')];
    .daily-report
        .dr-caption(class=isWeekend ? 'weekend' : null)
            .dr-c-date
                = dayDate.format('dddd')
                | , 
                = dayDate.format('D MMMM')
        .dr-head
            .dr-h.dr-h-date= __('report_hour')
            .dr-h.dr-h-temp= __('temperature')
                |  &degC
            .dr-h.dr-h-wind= __('wind')
            .dr-h.dr-h-hum= __('humidity')
        .dr-body
            each item in day.times
                if (item.time > currentDateTime)
                    - var symbol_name = util.weather.symbolName(item.symbol, currentCulture.language)
                    - var date = util.moment.tz(item.time, timezone).locale(currentCulture.language);
                    - var windCode = item.wind.dir.code.length>2?item.wind.dir.code.substr(1):item.wind.dir.code;
                    .dr-row
                        .dr-r.dr-r-date= date.format('HH:00')
                        .dr-r.dr-r-temp
                            i.w-icon(class='wi-' + item.symbol.number, title=symbol_name)
                            span.temp-val= item.t.value
                                | &deg;
                            span.symbol-name= symbol_name
                        .dr-r.dr-r-wind
                            span.wind-speed(class='beaufort-'+item.wind.speed.beaufort)= item.wind.speed.mps
                            = __('item_wind_speed_ms')
                            span.wind-dir(title=windCode, class='wind-dir-'+windCode) &rarr;
                        .dr-r.dr-r-hum= parseInt(item.humidity.percent)
                            |  %

        if (todayHolidays)
            .dr-footer
                each item in todayHolidays
                    div= item.summary
