if (report)
  .weather-table
    .wt-head
      .wt-date.wt-col
      .wt-temp.wt-col= __('temperature')
      .wt-precip.wt-col
      .wt-wind.wt-col= __('wind')
    .wt-body
      each day, ri in report.days
        - var dayDate = new Date(day.times[day.times.length-1].from);
        - dayDate = util.moment(dayDate).locale(currentCulture.language);
        - var dayTime = day.times[parseInt((day.times.length-1)/2)];
        - var nightTime = day.times.length>1 ? day.times[day.times.length-1] : null;
        - var totalPrecipitation = day.times.reduce(function(t,b){return t + b.p.value;},0);
        .wt-row.report-summary(class=(ri===0 ? 'closed' : null))
          .wt-col.wt-date
            .wday= dayDate.format('dddd')
            .date= dayDate.format('D MMMM')
          .wt-col.wt-temp
            i.w-icon(class='wi' + dayTime.symbol.number)
            span.temp= dayTime.t.value
              | &deg;
            if (nightTime)
              span.temp-night= nightTime.t.value
                | &deg;
          .wt-col.wt-precip
            if (totalPrecipitation)
              i.wi.wi-raindrops
              span.value= totalPrecipitation + ' ' + __('mm')
          .wt-col.wt-wind
            i.wi.wi-wind(class='wi-towards-' + dayTime.wind.dir.code.toLowerCase())
            span.value= dayTime.wind.speed.mps +' '+ __('item_wind_speed_ms')

        .report-details(class=(ri===0 ? 'opened' : null))
          each item in day.times
            - var symbol_name = util.weather.symbolName(item.symbol, currentCulture.language)
            - var date = new Date(item.from);
            - date = util.moment(date).locale(currentCulture.language);
            .wt-row
              .wt-col.wt-date= date.format('HH:mm')
              .wt-col.wt-temp
                i.w-icon(class='wi' + item.symbol.number, title=symbol_name)
                span.temp= item.t.value
                  | &deg;
                span.name= symbol_name
              .wt-col.wt-precip
                if (item.p.value)
                  i.wi.wi-raindrops
                  span.value= item.p.value + ' ' + __('mm')
              .wt-col.wt-wind
                i.wi.wi-wind(class='wi-towards-' + item.wind.dir.code.toLowerCase())
                span.value= item.wind.speed.mps +' '+ __('item_wind_speed_ms')


    #weather-source-footer
      span#yr-logo
      = __('weather_cright')
    p.small.text-muted= subTitle
