if (report)
  .weather-table
    each day, ri in report.days
      - var dayDate = util.moment.tz(day.times[day.times.length-1].from, config.timezone).locale(currentCulture.language);
      // - console.log(dayDate.toDate(), config.timezone, day.date);
      - var dayTime = day.times[parseInt((day.times.length-1)/2)];
      - var maxTime = day.times.reduce(function(max, c){return c.t.value>max.t.value?c:max;});
      - var minTime = day.times.reduce(function(min, c){return c.t.value<min.t.value?c:min;});
      - var totalPrecipitation = day.times.reduce(function(t,b){return t + b.p.value;},0);
      - var isWeekend = [6, 7].indexOf(dayDate.isoWeekday()) > -1;
      - var dayWindCode = dayTime.wind.dir.code.length>2?dayTime.wind.dir.code.substr(1):dayTime.wind.dir.code;
      - var todayHolidays = holidays[day.date];

      .report-details(class=(ri===0 ? 'opened' : null))
        .wt-body
          //- .wt-caption
          //-   .date= dayDate.format('D MMMM')
          .wt-head
            .wt-col.wt-date(class=isWeekend ? 'weekend' : null)
              .date= dayDate.format('D MMMM')
            .wt-temp.wt-col= __('temperature')
            .wt-precip.wt-col
            .wt-wind.wt-col= __('wind')
          //- .table
          each item in day.times
            - var symbol_name = util.weather.symbolName(item.symbol, currentCulture.language)
            - var date = util.moment.tz(item.from, config.timezone).locale(currentCulture.language);
            - var windCode = item.wind.dir.code.length>2?item.wind.dir.code.substr(1):item.wind.dir.code;
            .wt-row
              .wt-col.wt-date= date.format('HH:mm')
              .wt-col.wt-temp
                i.w-icon(class='wi-' + item.symbol.number, title=symbol_name)
                span.temp= item.t.value
                  | &deg;
                span.name= symbol_name
              .wt-col.wt-precip
                if (item.p.value)
                  //- i.wi.wi-raindrops
                  span.value= item.p.value + ' ' + __('mm')
              .wt-col.wt-wind
                //- i.wi.wi-wind(class='wi-towards-' + item.wind.dir.code.toLowerCase())
                span.wind-speed(class='beaufort-'+item.wind.speed.beaufort)= item.wind.speed.mps
                = ' ' + __('item_wind_speed_ms')
                span.wind-dir(title=windCode, class='wind-dir-'+windCode) &rarr;
        if (todayHolidays)
          .wt-footer
            each item in todayHolidays
              div= item.name
      .report-summary(class=(ri===0 ? 'closed' : null))
        .wt-body
          .wt-col.wt-date(class=isWeekend ? 'weekend' : null)
            .wday= dayDate.format('dddd')
            .date= dayDate.format('D MMMM')
          .wt-col.wt-temp
            i.w-icon(class='wi-' + dayTime.symbol.number)
            span.temp= maxTime.t.value
              | &deg;
            if (day.times.length>1)
              span.temp-night= minTime.t.value
                | &deg;
          .wt-col.wt-precip
            if (totalPrecipitation)
              //- i.wi.wi-raindrops
              span.value= totalPrecipitation + ' ' + __('mm')
          .wt-col.wt-wind
            span.wind-speed(class='beaufort-'+dayTime.wind.speed.beaufort)= dayTime.wind.speed.mps
            = ' ' + __('item_wind_speed_ms')
            span.wind-dir(title=dayWindCode, class='wind-dir-' + dayWindCode) &rarr;
        if (todayHolidays)
          .wt-footer
            each item in todayHolidays
              div= item.name
      if (ri === 1)
        .text-center
          // Ournet weather middle
          ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='1389535435', data-ad-format='auto')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
    //- #weather-source-footer
      span#yr-logo
      = __('weather_cright')
    p.small.text-muted= subTitle
