doctype html
html(lang=currentCulture.language)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= (site.head.title || site.title)
    meta(name='description', content=site.head.description)
    meta(name='keywords', content=site.head.keywords)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,700%7CRoboto+Slab:300,400,700')
    block styles
    if (NODE_ENV==='production')
      link(type='text/css', rel='stylesheet', href='http://assets.ournetcdn.net/ournet/css/weather/main-291a2d9f42.min.css')
    else
      link(type='text/css', rel='stylesheet', href='http://localhost:8044/css/weather/main.css')
    if (site.head.canonical)
      link(rel='canonical', href=site.head.canonical)
    link(rel='shortcut icon', href=config.favicon)

    if (config.fbId)
      meta(property='fb:app_id', content=config.fbId)

    link(rel='publisher', href='https://facebook.com/'+ config.domain)
    meta(property='og:site_name', content=config.name)
    meta(property='og:image', content=sightImage.large)
  body(class=('country-'+currentCulture.country+' project-'+project.name+' language-'+currentCulture.language + ' '+site.platform))
    #fb-root
    header#page-header.trans
      .container-fluid
        .row
          .col-xs-12.col-sm-8.col-md-5
            .col-xs-5.col-sm-6
              a#header-logo(title=project.name, href=links.home({ul: currentCulture.language}))
            .col-xs-7.col-sm-6#header-search
              form#q-form(method='get', action=links.weather.search())
                if (currentCulture.language!==config.language)
                  input(type='hidden', name='ul', value=currentCulture.language)
                input#q(name='q', type='text', placeholder= place && place.getName(currentCulture.language) || __('search_text'))
                a#search-btn
                  i.icon
          .col-md-4.hidden-xs.hidden-sm
            if (exchangeWidget && exchangeWidget.rates)
              #widget-exchange
                each item, i in exchangeWidget.rates
                  if (i<2)
                    - var value = item.buy
                    - var diff = value - item.buy1d
                    - var diffCss = diff>0 ? "view-plus": "view-minus"
                    - diffCss = diff==0 || diff==NaN?'view-no-change': diffCss
                    div(class="item "+diffCss)
                      .symbol= item.currency.symbol
                      span(class="value")= util.numberFormat(value, 2, currentCulture.language)
                      .popover
                        small(class="details")= util.moment(exchangeWidget.date).locale(currentCulture.language).format(config.monthFormat)
                        .item-source(title=exchangeWidget.source.name)= exchangeWidget.source.abbr
                        .item-value= util.numberFormat(value, 4, currentCulture.language)
                        if(diff)
                          small(class="item-diff")= util.numberFormat(diff, 4, currentCulture.language)
                        .item-details
                          a(href=exchangeWidget.url)= __('exchange_rates')
                            |  ›
          .col-md-3.col-sm-4.hidden-xs
            if (weatherWidget && weatherWidget.forecast)
              #widget-weather
                //- .background(style='background-image:url('+sightImage.small+')')
                //- .shadow
                span.symbol
                  img(alt='', src='http://assets.ournetcdn.net/root/img/icons/weather/48/'+weatherWidget.forecast.symbol.id+'.png', title=weatherWidget.forecast.symbol.name)
                span.name
                  a(href=weatherWidget.place.url)= weatherWidget.place.name
                  span.no= weatherWidget.forecast.temperature + '°C'
    main#main(class=site.pageLayoutCss)
      section#sight
        #sight-image(style='background-image:url('+sightImage.large+')')
        #sight-shadow
      section#page-content
        block content
      footer#page-footer
        .container
          .row
            .col-sm-4.col-xs-12
              h4= __('info')
              div= __('contact')+': '
                a=  config.email
              div
                | Version 
                = project.version
                if (config.languages.length>1)
                  |,  
                  each key in config.languages
                    if (key!=currentCulture.language)
                      a(href=links.home({ul:key}))= config.languagesNames[key]
              div
                a(href='http://www.yr.no', rel='nofollow', target='_blank')= __('weather_cright')
            #page-footer-portals.col-sm-4.col-xs-12
              h4= __('international')
              each id in config.internationalIds
                - var item = config.international[id]
                div
                  a(href=item.url, target='_blank')
                    i.flag-icon(class='flag-'+id)
                    = item[currentCulture.language]
            .col-sm-4.col-xs-12
              h4= __('useful')
              div
                a(href=links.weather.widget())= __('weather_on_your_site')
              each host, key in config.projects
                div
                  a(href='http://'+host)= __(key)

    if (!noGoogleAds)
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      window.globalInitData={cn: '#{config.country}',ul:'#{currentCulture.language}'};
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    if (NODE_ENV==='production')
      script(type='text/javascript', src='http://assets.ournetcdn.net/ournet/js/weather/main-f9f4d648ac.min.js')
    else
      script(type='text/javascript', src='http://localhost:8044/js/weather/main.js')
    block scripts
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '#{config.googleAnalyticsId}', '#{config.domain}');
      ga('set', 'dimension1', '#{project.name}');
      ga('send', 'pageview');
    script(type='text/javascript').
      var addthis_config = {
        data_ga_property: '#{config.googleAnalyticsId}',
        data_ga_social: true
      };
    //- script(async='', src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559bd1344703b48a")
      
    if (_events.length > 0)
      script
        each a in _events
          = "ga('send', 'event', '"+a.category+"', '"+a.action+"', '"+a.label+"', '"+a.value+"')"
    if (config.htmlFooter)
      != config.htmlFooter
