extends ./root

block page_header_content
  .row
    .col-xs-5.col-sm-2
      #header-logo
        a#logo(title=__(project.name), href=links.home({ul: currentCulture.language}))
        if (config.projects.length > 1)
          ul#header-projects
            each host, key in config.projects
              li
                a(target='_blank', href='http://'+host)= __(key)
    .col-xs-7.col-sm-4.col-md-3
      #header-search
        form#search-form(method='get', action=links.weather.search())
          if (currentCulture.language!==config.language)
            input(type='hidden', name='ul', value=currentCulture.language)
          input#q(name='q', type='text', placeholder= place && util.Place.getName(place,currentCulture.language) || __('search_text'))
          a#search-btn
            i.icon
    .col-sm-6.col-md-7.hidden-xs
      #header-widgets
        .col-md-6.hidden-sm
          if (exchangeWidget && exchangeWidget.rates)
            #widget-exchange
              each item, i in exchangeWidget.rates
                if (i<2)
                  - var value = item.buy
                  - var diff = value - item.buy1d
                  - var diffCss = diff>0 ? "view-plus": "view-minus"
                  - diffCss = diff==0 || diff==NaN?'view-no-change': diffCss
                  div(class="item "+diffCss)
                    .symbol= item.currency.symbol
                    span(class="value")= util.numberFormat(value, 2, currentCulture.language)
                    .popover
                      small(class="details")= util.moment(exchangeWidget.date).locale(currentCulture.language).format(config.monthFormat)
                      .item-source(title=exchangeWidget.source.name)= exchangeWidget.source.abbr
                      .item-value= util.numberFormat(value, 4, currentCulture.language)
                      if(diff)
                        small(class="item-diff")= util.numberFormat(diff, 4, currentCulture.language)
                      .item-details
                        a(href=exchangeWidget.url)= __('exchange_rates')
                          |  ›
        .col-md-6.col-sm-12
          if (weatherWidget && weatherWidget.forecast)
            #widget-weather
              //- .shadow
              span.symbol.w-icon(class='wi-'+weatherWidget.forecast.symbol.id, title=weatherWidget.forecast.symbol.name)
              span.name
                a(href=links.weather.place(weatherWidget.place.id, {utm_source:'weather',utm_medium:'link',utm_campaign:'header-weather'}))= weatherWidget.place.name
                span.no= weatherWidget.forecast.temperature + '°C'

block page_main_content
  section#page-content
    block content
