extends ./root

block page_header_content
  .row
    .col-xs-5
      #header-logo
        a#logo(title=__(project.name), href=links.home({ul: currentCulture.language}))
        if (config.projects.length > 1)
          ul#header-projects
            each host, key in config.projects
              li
                a(target='_blank', href='http://'+host)= __(key)
    .col-xs-7
      #header-search
        form#search-form(method='get', action=links.weather.search())
          if (currentCulture.language!==config.language)
            input(type='hidden', name='ul', value=currentCulture.language)
          input#q(name='q', type='text', placeholder= place && place.getName(currentCulture.language) || __('search_text'))
          a#search-btn
            i.icon

block page_main_content
  section#page-content
    block content
