extends ./root

block styles
  if (NODE_ENV==='production')
    if (site.platform === 'mobile')
      link(type='text/css', rel='stylesheet', href='//assets.ournetcdn.net/ournet/css/' + project.name + '/mobile/main-'+ config.assets.css.mainMobile +'.min.css')
    else
      link(type='text/css', rel='stylesheet', href='//assets.ournetcdn.net/ournet/css/' + project.name + '/desktop/main-'+ config.assets.css.main +'.min.css')
  else
    link(type='text/css', rel='stylesheet', href='http://localhost:8044/css/' + project.name + '/'+site.platform+'/main.css')

block page_header_content
  .row
    .col-xs-5.col-sm-2
      #header-logo
        a#logo(title=__(project.name), href=links.weather.home({ul: currentCulture.language}))
        if (config.projects.length > 1)
          ul#header-projects
            each host, key in config.projects
              li
                a(target='_blank', href='http://'+host)= __(key)
    .col-xs-7.col-sm-4.col-md-3
      #header-search
        form#search-form(method='get', action=links.weather.search())
          if (currentCulture.language!==config.language)
            input(type='hidden', name='ul', value=currentCulture.language)
          input#q(name='q', type='text', placeholder= place && util.Place.getName(place,currentCulture.language) || __('search_text'))
          a#search-btn
            i.icon
    .col-sm-6.col-md-7.hidden-xs
      #header-widgets
        .col-md-6.hidden-sm
          if (mainExchangeRates && mainExchangeSource)
            #widget-exchange
              each item, i in mainExchangeRates
                if (i<2)
                  - var value = item.rate
                  - var diff = value - item.rate1d
                  - var diffCss = diff>0 ? "view-plus": "view-minus"
                  - diffCss = diff==0 || diff==NaN?'view-no-change': diffCss
                  div(class="item "+diffCss)
                    .symbol= item.currency.symbol
                    span(class="value")= util.numberFormat(value, 2, currentCulture.language)
                    .popover
                      small(class="details")= currentDate.format(config.monthFormat)
                      .item-source(title=mainExchangeSource.name)= mainExchangeSource.abbr
                      .item-value= util.numberFormat(value, 4, currentCulture.language)
                      if(diff)
                        small(class="item-diff")= util.numberFormat(diff, 4, currentCulture.language)
                      .item-details
                        a(href=links.exchange.$schema+'//'+links.exchange.$host)= __('exchange_rates')
                          |  ›
        .col-md-6.col-sm-12
          if (capitalCity && capitalCity.currentForecast)
            #widget-weather
              //- .shadow
              span.symbol.w-icon(class='wi-'+capitalCity.currentForecast.symbol.number, title=util.weather.symbolName(capitalCity.currentForecast.symbol, currentCulture.language))
              span.name
                a(href=links.weather.place(capitalCity.id, {utm_source:'weather',utm_medium:'link',utm_campaign:'header-weather'}))= util.Place.getName(capitalCity, currentCulture.language)
                span.no= capitalCity.currentForecast.t.value + '°C'

block page_main_content
  section#page-content
    block content

block scripts
  //- if (!noGoogleAds)
    //- script(async, src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  script.
    window.globalInitData={cn: '#{config.country}',ul:'#{currentCulture.language}'};
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  if (NODE_ENV==='production')
    if (site.platform === 'mobile')
      script(type='text/javascript', src='//assets.ournetcdn.net/ournet/js/' + project.name + '/mobile/main-'+ config.assets.js.mainMobile +'.min.js')
    else
      script(type='text/javascript', src='//assets.ournetcdn.net/ournet/js/' + project.name + '/desktop/main-'+ config.assets.js.main +'.min.js')
    //- script(type='text/javascript', src='//assets.ournetcdn.net/ournet/js/user-location-cd3b5217e1.min.js')
  else
    script(type='text/javascript', src='http://localhost:8044/js/' + project.name + '/'+site.platform+'/main.js')
    //- script(type='text/javascript', src='http://localhost:8044/js/user-location.js')