extends ./layout

block content_header
  .row
    #header-logo.col-xs-4
      a(title=project.name, href=links.home({ul: currentCulture.language}))
    #header-search.col-xs-10
      form#q-form(method='get', action=links.weather.search())
        if (currentCulture.language!=config.language)
          input(type='hidden', name='ul', value=currentCulture.language)
        input#q(name='q', type='text', placeholder=__('search_text'))
        a#search-btn(onclick="$('#q-form').submit();")
          span.icon

block content
  #layout-content(class="clearfix")
    .container
      .row
        block normal_content

