extends ./layout

block content_header
  .row
    .col-md-7.col-sm-10.col-xs-14
      #header-logo.pull-left
        a(title=project.name, href=links.home({ul: currentCulture.language}))
      #header-search.col-md-8.col-xs-8.col-sm-6
        form#q-form(method='get', action=links.weather.search())
          if (currentCulture.language!=config.language)
            input(type='hidden', name='ul', value=currentCulture.language)
          input#q(name='q', type='text', placeholder=__('search_text'))
          a#search-btn(onclick="$('#q-form').submit();")
            span.icon
    .col-md-7.col-sm-4.hidden-xs
      #header-right-content
        .row
          .col-md-7.hidden-sm
            if (exchangeWidget && exchangeWidget.rates)
              #widget-exchange
                each item, i in exchangeWidget.rates
                  if (i<2)
                    - var value = item.buy
                    - var diff = value - item.buy1d
                    - var diffCss = diff>0 ? "view-plus": "view-minus"
                    - diffCss = diff==0 || diff==NaN?'view-no-change': diffCss
                    div(class="item "+diffCss)
                      .symbol= item.currency.symbol
                      span(class="value")= util.numberFormat(value, 2, currentCulture.language)
                      .popover
                        small(class="details")= util.moment(new Date()).locale(currentCulture.language).format(config.monthFormat)
                        .item-source(title=exchangeWidget.source.name)= exchangeWidget.source.abbr
                        .item-value= util.numberFormat(value, 4, currentCulture.language)
                        if(diff)
                          small(class="item-diff")= util.numberFormat(diff, 4, currentCulture.language)
                        .item-details
                          a(href=exchangeWidget.url)= __('exchange_rates')
                            |  ›
          .col-md-7.col-sm-14
            a#widget-w-link(href=links.weather.widget({ul: currentCulture.language}))
              span.icon
              = __('weather_on_your_site')

block content
  #layout-content(class="clearfix")
    .container
      block normal_content

