doctype html
html(lang=currentCulture.language)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= (site.head.title || site.title)
    meta(name='description', content=site.head.description)
    meta(name='keywords', content=site.head.keywords)
    block styles
    if (site.head.canonical)
      link(rel='canonical', href=site.head.canonical)
    //- link(rel='shortcut icon', href=config.favicon)
    include ../_includes/favicons.jade

    if (config.fbId)
      meta(property='fb:app_id', content=config.fbId)

    link(rel='publisher', href='https://facebook.com/'+ config.domain)
    meta(property='og:site_name', content=config.name)
    meta(property='og:updated_time', content=currentDate.toDate().toISOString())
    meta(property='og:locale', content=currentCulture.language+'_'+currentCulture.country.toUpperCase())

    link(rel='dns-prefetch', href='//assets.ournetcdn.net')
    link(rel='dns-prefetch', href='//wi.ournetcdn.net')
    link(rel='dns-prefetch', href='//ajax.googleapis.com')
    link(rel='dns-prefetch', href='//tpc.googlesyndication.com')
    link(rel='dns-prefetch', href='//pagead2.googlesyndication.com')

  body(class=('country-'+currentCulture.country+' project-'+project.name+' language-'+currentCulture.language + ' '+site.platform + ' '+(site.pageLayoutCss||'')))
    #fb-root

    #page-top
      #top-line
        .accent-line
          .accent-item.domain-0
          .accent-item.domain-1
          .accent-item.domain-2
          .accent-item.domain-3
          .accent-item.domain-4
          .accent-item.domain-5
          .accent-item.domain-6
          .accent-item.domain-7
          .accent-item.domain-8
          .accent-item.domain-9
      //- if (!noGoogleAds)
      //-   #top-ads
      //-     .container
      //-       include ../_includes/ad-top
    header#page-header
      .container
        block page_header_content
    main#page-main
      .container
        block page_main_content
    footer#page-footer
      .container
        .row
          .col-sm-4.col-xs-12
            h4= __('info')
            div= __('contact')+': '
              a=  config.email
            div
              | Version 
              = project.version
              if (config.languages.length>1)
                |,  
                each key in config.languages
                  if (key!=currentCulture.language)
                    a(href=links.weather.home({ul:key}))= config.languagesNames[key]
            div
              a(href='http://www.yr.no', rel='nofollow', target='_blank')= __('weather_cright')
          #page-footer-portals.col-sm-4.col-xs-12
            h4= __('international')
            each id in config.internationalIds
              - var item = config.international[id]
              if (item)
                div
                  a(href=Links.getSchema(project.name, id)+'//'+Links.getHost(project.name, id), target='_blank')
                    i.flag-icon(class='flag-'+id)
                    = item[currentCulture.language]
          .col-sm-4.col-xs-12
            h4= __('useful')
            div
              a(href=links.weather.widget({ul:currentCulture.language}), title=__('weather_on_your_site'))= __('weather_on_your_site')
            each host, key in config.projects
              div
                a(href=Links.getSchema(key, currentCulture.country)+'//'+host)= __(key)

    block scripts
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '#{config.googleAnalyticsId}', '#{config.domain}');
      ga('set', 'dimension1', '#{project.name}');
      ga('send', 'pageview');
    script.
      OURNET.Counters.init('#{currentCulture.country}','#{project.name}');
    if (_events && _events.length > 0)
      script
        each a in _events
          = "ga('send', 'event', '"+a.category+"', '"+a.action+"', '"+a.label+"', '"+a.value+"')"
