extends ./layout

block content
  .container
    .row
      //- left menu
      .hidden-xs.col-sm-3.col-md-2
        .group
          .group-content
            ul.main-menu
              each item in mainPlaces
                li
                  a(href=links.weather.place(item.id,{ul:currentCulture.language}), title=item_name, class=(place && place.id && item.id == place.id ? 'selected': ''))= item.getName(currentCulture.language)
              li
                a(href=links.weather.places({ul:currentCulture.language}))= util.format(__('other_n_places_format'), config.placesCount)

        .group
          .group-title
            h4= __('recent_search')
          .group-content
            ul
              each item in latestPlaces
                li
                  a(href=links.weather.place(item.id, {ul: currentCulture.language}), title=item.getName(currentCulture.language))= item.getName(currentCulture.language)
      //- center content
      .col-xs-12.col-sm-9.col-md-6
        if (location && location.length>1)
          #user-location
            for item, i in location
              a(href=item.href)= item.text
              if (i < location.length - 1)
                ='  › '
        block weather_content
        br
        .text-center
          // Ournet 468x60
          ins.adsbygoogle(data-ad-client='ca-pub-3959589883092051', data-ad-slot='3749376618')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({ });
        br
      //- right content
      .col-md-4.hidden-sm.hidden-xs
        block right_content_top
        - var attrs= affix? {'data-spy':'affix'}:{}
        #affix-right-region
          .group
            // Ournet 300x600
            ins.adsbygoogle(data-ad-client='ca-pub-3959589883092051', data-ad-slot='1855601031')
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});
        .group!= config.socialPluginsHtmlCode
        block right_content_bottom

