.summary-report
  each item in placesForecast
    - var dayWindCode = item.weather.wind.dir.code.length>2?item.weather.wind.dir.code.substr(1):item.weather.wind.dir.code;
    - var symbol_name = util.weather.symbolName(item.weather.symbol, currentCulture.language)
    - var placeName = util.Place.getName(item.place, currentCulture.language);
    .dr-row
      .dr-r.dr-r-date
        a(href=links.weather.place(item.place.id, {ul: currentCulture.language}), title=placeName)= placeName
      .dr-r.dr-r-temp
        i.w-icon(class='wi-' + item.weather.symbol.number, title=symbol_name)
        span.temp-val= item.weather.t.value
          | &deg;
        span.symbol-name= symbol_name
      .dr-r.dr-r-wind
        span.wind-speed(class='beaufort-'+item.weather.wind.speed.beaufort)= item.weather.wind.speed.mps
        = ' ' + __('item_wind_speed_ms')
        span.wind-dir(title=dayWindCode, class='wind-dir-' + dayWindCode) &rarr;
    //- tr
    //-   td.name
    //-     a(href=links.weather.place(item.place.id, {ul: currentCulture.language}))= item.place.getName(currentCulture.language)
    //-   td.symbol
    //-     span.w-icon(class='wi-'+item.weather.symbol.number, title=util.weather.symbolName(item.weather.symbol, currentCulture.language))
    //-   td.symbol-name= util.weather.symbolName(item.weather.symbol, currentCulture.language)
    //-   td.no.temperature= item.weather.t.value
    //-     |  &deg;
    //-   td.wind-dir
    //-     div(title=item.weather.wind.dir.code, class='wi-'+item.weather.symbol.number)
    //-   td.wind-speed= item.weather.wind.speed.mps
    //-     = ' ' + __('item_wind_speed_ms')
