.place-summary
  .clearfix
    h2
      a(href=links.weather.place(userPlace.id, {ul: currentCulture.language}))= util.Place.getName(userPlace, currentCulture.language)
        |  ›
  .body
    - for (var i=0;i<3;i++)
      - var day = userReport.days[i];
      - var timezone = userReport.timezone || config.timezone;
      - var dayDate = util.moment.tz(day.times[day.times.length-1].time, timezone).locale(currentCulture.language);
      - var dayTime = day.times[parseInt((day.times.length-1)/2)];
      - var maxTime = day.times.reduce(function(max, c){return c.t.value>max.t.value?c:max;});
      - var minTime = day.times.reduce(function(min, c){return c.t.value<min.t.value?c:min;});
      - var isWeekend = [6, 7].indexOf(dayDate.isoWeekday()) > -1;

      .wt-body
        .wt-col.wt-date(class=isWeekend ? 'weekend' : null)
          .wday= dayDate.format('dddd')
          .date= dayDate.format('D MMMM')
        .wt-col.wt-temp
          i.w-icon(class='wi-' + dayTime.symbol.number)
          span.temp= maxTime.t.value
            | &deg;
          if (day.times.length>1)
            span.temp-night= minTime.t.value
              | &deg;
        .wt-col.wt-name
          span.name= util.weather.symbolName(dayTime.symbol, currentCulture.language)
        //- each time, ti in day.times
        //-   if (ti<4)
        //-     .wt-col.wt-temp
        //-       i.w-icon(class='wi-' + time.symbol.number, title=util.weather.symbolName(time.symbol, currentCulture.language))
        //-       span.temp= time.t.value
        //-         | &deg;
        //- .wt-col

