extends ../_layouts/widget

block content
  input#widget-type(type="hidden", value="widget2")
  .row
    .col-sm-5.col-xs-12
      .page-title
        h1= __('weather_on_your_site')
        h2.sub-title= site.head.description
      .content-box
        fieldset.form#widget-conf
          table.form-table
            tr
              td
                label(style='min-width: inherit', for='conf_place')= __('place')+ ':'
              td
                input#widget-conf-place(type='text', style='width: 140px; font-weight: bold; background: #f5f5f5;', name='place', value=util.Place.getName(place, currentCulture.language))
                input#widget-conf-placeid.conf-input(name="id" type='hidden', value=place.id)
            tr
              td(colspan='2')
                table(style='border-spacing: 0px; padding: 0px; margin: 0px;')
                  tr
                    td
                      b= __('base_color') + ':'
                    td
                      b= __('item_color') + ':'
                    td
                      b= __('text_color') + ':'
                  tr
                    td
                      input.conf-input(type='text', name='color', value='68a7d4', maxlength='6', style='width: 60px')
                    td
                      input.conf-input(type='text', name='itemcolor', placeholder='auto', maxlength='6', style='width: 60px')
                    td
                      input.conf-input(type='text', name='textcolor', placeholder='auto', maxlength='6', style='width: 60px')
            tr
              td
                label(style='min-width: inherit', for='conf_pos')= __('position')+':'
              td
                select#conf_pos.conf-input(name='pos', style='width: 100px;')
                  option(value='h')= __('horizontal')
                  option(value='v', selected='selected')= __('vertical')
            tr
              td
                label(style='min-width: inherit', for='conf_days')= __('days')+':'
              td
                select#conf_days.conf-input(name='days', style='width: 50px;')
                  option(value='1') 1
                  option(value='2') 2
                  option(selected='selected', value='3') 3
                  option(value='4') 4
                  option(value='5') 5
            tr
              td
                label(style='min-width: inherit', for='conf_w')= __('width')+':'
              td
                input#conf_w.conf-input(type='number', style='width: 50px;', maxlength='3', min='100', max='800', name='w', value='250')
            tr
              td
                label(style='min-width: inherit', for='conf_header')= __('show_header')+':'
              td
                input#conf_header.conf-input(type='checkbox', name='header', checked='checked')
            tr
              td
              td
                button#widget-conf-generate.btn.btn-danger(type='button')= __('generate')
        //- if (currentCulture.country == "ro")
        //-   iframe(width='300', height='169', src='//www.youtube.com/embed/sLYbJaLlY6M?rel=0', frameborder='0', allowfullscreen='')
        //- else if (currentCulture.country == "md")
        //-   iframe(width='300', height='225', src='//www.youtube.com/embed/cI1yc9TxWb8?rel=0', frameborder='0', allowfullscreen='')
      br
      .text-center
        .social-likes(data-url=site.head.canonical)
          each item in config.shareDataServices
            div(class=item)
      br
      br
    .col-sm-7.col-xs-12
      div#widget-preview
        h2= __('preview')
        br
        #widget-iframe
        h2= __('html_code')
        div
          textarea#widget-script
